
@{
    ViewData["Title"] = "RTGS UTR UPLOAD";
}
@section Styles{
    <link href="~/DataEntry/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/modal.min.css" rel="stylesheet" />
    <link href="~/DataEntry/css/CustmCss3.css" asp-append-version="true" rel="stylesheet" />
}
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .CommonTblStyle .tbl_header th {
        padding: 8px 3px;
    }

    .CommonTblStyle tbody tr td {
        padding: 5px;
    }
</style>
<style>
    .panel-search .control-label {
        display: block;
    }

    .table.table-default {
        min-width: 300px;
    }

    .content-wrapper {
        padding-top: 50px;
    }

    .dataTables_filter {
        margin-bottom: 5px;
    }
    table.table.table-default.dataTable {
        width: calc(100% - 1px);
    }
</style>

<div class="container" style="margin-top:40px">
    <div class="panelCustm" id="">
        <div class="panel-heading panel-headingNW panelHeadingPosRel" style="margin-bottom: 0;">
            RTGS UTR Upload
            <a class="ClsBackToDash" href="Default">
                <i class="fa fa-home" aria-hidden="true"></i> Back To Dashboard
            </a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px;border: 1px solid #E31837;">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 " style="" id="">
                    <div class="alert alert-danger" style="margin-bottom: 15px; text-align: justify; display:none" id="divErrorMsg">
                        <label class="errorCls" id="lblRtgsError" style="margin:0;"></label>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="table-responsive" id="divRTGS_UTR_List">
                        <table class="table table-default" id="tableRtgsUtrUpload">
                            <thead class="tbl_header">
                                <tr>
                                    <th scope="col">Application No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">FD Amount</th>
                                    <th scope="col">Date of Payment</th>
                                    <th scope="col">Upload</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyRtgsUtrUploadList"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="MdlUploadRtgsUtr" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog moadl-md">
        <!-- Modal content-->
        <div class="modal-content CustmModalNew">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="" style="z-index: 1;"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upload Payment Popup</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="">
                    <div class="col-md-12 col-sm-12 col-xs-12 InpOutrCls">
                        <label id="lblCmnMdlInfoText"></label>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 InpOutrCls">
                        <div class="form-group FormGrpCustm">
                            <label class="control-label">Payment UTR Number</label>
                            <input type="text" id="txtUtrNo" placeholder="Enter Payment UTR Number" class="form-control" autocomplete="off" />
                            <span class="text-danger Err_Validate" style="color: Red" id="ErrUtrNo"></span>
                            <input type="hidden" id="hdnApplNo" />
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 InpOutrCls">
                        <div class="form-group FormGrpCustm">
                            <label class="control-label">Upload File</label>
                            <input type="file" id="fileUpload" style="left: 0;height:auto;" name="fileUpload" class="Upload form-control">
                            <span class="text-danger Err_Validate" style="color: Red" id="ErrFileUpload"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="btn btn-red" id="btnSaveFile">Save</button>
                <div class="clearfix"></div>
                <span class="text-danger Err_Validate" style="color: Red" id="ErrBtnSave"></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MdlSuccess" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content CustmModalNew">
            <div class="modal-header">
                <button type="button" class="close btnMdlSuccessOK" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label id="lblMdlSuccessText"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="btn btn-red btnMdlSuccessOK" data-dismiss="modal" id="btnMdlSuccessOK">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/modal.min.js"></script>
    <script src="~/lib/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/RTGS_UTR_UPLOAD/RTGS_UTR_UPLOAD.js"></script>
}

