@{
    ViewData["Title"] = "Error";
}

<p class="text-danger" style="font-size: 100px; color: #E31837;">OOOPS...</p>
<p class="text-danger" style="font-size: 25px; color: #6d6e70;">An error occurred while processing your request.</p>