
    <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls">
        <div class="form-group FormGrpCustm">
            <label class="control-label">Address Line 1<span class="red-text">*</span></label>
            <input type="text" id="txtAdd1" name="ADD1" maxlength="39" class="form-control ADDR uppercase RemoveSpace NoSpecialChar" required>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls">
        <div class="form-group FormGrpCustm">
            <label class="control-label">Address Line 2</label>
            <input type="text" id="txtAdd2" name="ADD2" maxlength="39" class="form-control ADDR uppercase RemoveSpace NoSpecialChar">
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls">
        <div class="form-group FormGrpCustm">
            <label class="control-label">Address Line 3</label>
            <input type="text" id="txtAdd3" name="ADD3" maxlength="39" class="form-control ADDR uppercase RemoveSpace NoSpecialChar">
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12 InpOutrCls">
        <div class="form-group FormGrpCustm">
            <label class="control-label">Country<span class="red-text">*</span></label>
            <select id="ddlCountry" name="COUNTRY" class="form-control ADDR" required>
              <option value="select">Select</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12 InpOutrCls">
        <div class="form-group FormGrpCustm">
            <label class="control-label">Postal Code<span class="red-text">*</span></label>
            <input type="text" id="txtPin" name="PINCODE" class="form-control ADDR number_only RemoveSpace" required>
            <span class="errorbox" style="position: absolute; top: 3px; left: 166px;display:none"></span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12 InpOutrCls">
        <div class="form-group FormGrpCustm">
            <label class="control-label">State<span class="red-text">*</span></label>
            <input type="text" id="txtState" name="STATE" class="form-control DisabledControl ADDR uppercase" disabled required>
            <span class="errorbox" style="position: absolute; top: 3px; left: 166px;display:none"></span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12 InpOutrCls">
        <div class="form-group FormGrpCustm">
            <label class="control-label">District<span class="red-text">*</span></label>
            <input type="text" id="txtDistrict" name="DISTRICT" class="form-control DisabledControl ADDR uppercase" disabled required>
            <span class="errorbox" style="position: absolute; top: 3px; left: 166px;display:none"></span>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12 InpOutrCls">
        <div class="form-group FormGrpCustm">
            <label class="control-label">City<span class="red-text">*</span></label>
            <input type="text" id="txtCity" class="form-control ADDR uppercase RemoveSpace NoSpecialChar RemoveSpace" required>
            <span class="errorbox" style="position: absolute; top: 3px; left: 166px;display:none"></span>
        </div>
    </div>
    <div id="DV_TELEPHONE" class="col-md-2 col-sm-2 col-xs-12 InpOutrCls">
        <div class="form-group FormGrpCustm">
            <label class="control-label">Telephone</label>
            <input type="text" id="txtTelephone" class="form-control NoSpecialChar RemoveSpace">
            <span class="errorbox" style="position: absolute; top: 3px; left: 166px;display:none"></span>
        </div>
    </div>
    <div id="DV_MOBILE" class="col-md-2 col-sm-2 col-xs-12 InpOutrCls">
        <div class="form-group FormGrpCustm">
            <label class="control-label">Mobile</label>
            <input type="text" id="txtMobileNo" name="MOBILE" class="form-control number_only NoSpecialChar RemoveSpace">
            <span class="errorbox" style="position: absolute; top: 3px; left: 166px;display:none"></span>
        </div>
    </div>
    <div id="DV_EMAIL" class="col-md-4 col-sm-4 col-xs-12 InpOutrCls">
        <div class="form-group FormGrpCustm">
            <label class="control-label">Email</label>
            <input type="text" id="txtEmailId" name="EMAIL" class="form-control uppercase">
            <span class="errorbox" style="position: absolute; top: 3px; left: 166px;display:none"></span>
        </div>
    </div>
