<div id="DV_FH_EDIT_AS_CKYC" class="col-md-12 col-sm-12 col-xs-12 InpOutrCls" style="display:none">
    <div class="form-group FormGrpCustm form-check">
        <div>
            <input type="checkbox" class="form-check-input" id="chkFHEdit">
            <label class="form-check-label" for="exampleCheck1">Edit as per CKYC</label>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("~/Views/Partial_View/_HolderDetails.cshtml");}

<div class="row">
    <h4 class="SecHeaderTxt" style="padding-left:20px;">Address as per proof of address</h4>
</div>
<div id="DV_FH_P_ADDR" class="col-md-12 col-sm-12 col-xs-12 InpOutrCls">


    @{await Html.RenderPartialAsync("~/Views/Partial_View/_Address.cshtml");}

</div>
<div class="row IND">
    <h4 class="SecHeaderTxt" style="padding-left:20px;">More Details</h4>
</div>
<div id="DV_FH_MD" class="IND">
    @{await Html.RenderPartialAsync("~/Views/Partial_View/_MoreDetails.cshtml");}
</div>
<div class="col-md-12 col-sm-12 col-xs-12 InpOutrCls">
    <div class="form-group FormGrpCustm form-check">
        <label class="control-label">Other Address as per proof of address</label>
        <div>
            <input type="checkbox" class="form-check-input" id="chkIsFHAddrSameAsPermanent">
            <label class="form-check-label" for="exampleCheck1">Mailing Address Same As Permanent Address</label>
        </div>
        <div>
            <input type="checkbox" class="form-check-input" id="chkIdOverSeasAddress">
            <label class="form-check-label" for="exampleCheck1">Overseas Address</label>
        </div>
    </div>
</div>

<div id="DV_FH_M_ADDR" class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <h4 class="SecHeaderTxt" style="padding-left:5px;">Mailing Address as per proof of address</h4>
    </div>
    <div class="row">
        @{await Html.RenderPartialAsync("~/Views/Partial_View/_Address.cshtml");}
    </div>
</div>
<div id="DV_FH_O_ADDR" class="col-md-12 col-sm-12 col-xs-12" style="display:none;">
    <div class="row">
        <h4 class="SecHeaderTxt" style="padding-left:5px;">Overseas Address as per proof of address</h4>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls">
            <div class="form-group FormGrpCustm">
                <label class="control-label">Address Line 1<span class="red-text">*</span></label>
                <input type="text" id="txtOAdd1" class="form-control O_ADDR RemoveSpace NoSpecialChar">
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls">
            <div class="form-group FormGrpCustm">
                <label class="control-label">Address Line 2<span class="red-text">*</span></label>
                <input type="text" id="txtOAdd2" class="form-control O_ADDR RemoveSpace NoSpecialChar">
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls">
            <div class="form-group FormGrpCustm">
                <label class="control-label">Address Line 2<span class="red-text">*</span></label>
                <input type="text" id="txtOAdd3" class="form-control O_ADDR RemoveSpace NoSpecialChar">
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 InpOutrCls">
            <div class="form-group FormGrpCustm">
                <label class="control-label">Country<span class="red-text">*</span></label>
                <select id="ddlOCountry" class="form-control O_ADDR">
                   <option value="select">Select</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 InpOutrCls">
            <div class="form-group FormGrpCustm">
                <label class="control-label">State</label>
                <input type="text" id="txtOState" class="form-control O_ADDR">
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 InpOutrCls">
            <div class="form-group FormGrpCustm">
                <label class="control-label">City</label>
                <input type="text" id="txtOCity" class="form-control O_ADDR RemoveSpace NoSpecialChar">
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 InpOutrCls">
            <div class="form-group FormGrpCustm">
                <label class="control-label">Postal Code</label>
                <input type="text" id="txtOPin" class="form-control O_ADDR number_only">
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-sm-8 col-xs-12 InpOutrCls" id="FH_PEP">
    <ul class="list-group mainListBox">
        <li class="list-group-item">
            <span class="span_Questn">Are you a politically exposed person (PEP)?</span>
            <div class="Dv_AnsToggle">
                <label class="lblOutr">
                    <input type="radio" value="N" name="rdoInvPEP" />NO
                </label>
                <label class="lblOutr">
                    <input type="radio" value="NA" name="rdoInvPEP" disabled />/
                </label>
                <label class="lblOutr">
                    <input type="radio" value="Y" name="rdoInvPEP" />YES
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <span class="span_Questn">Are you related to a PEP?</span>
            <div class="Dv_AnsToggle">
                <label class="lblOutr">
                    <input type="radio" value="N" name="rdoInvPEPRelated" />NO
                </label>
                <label class="lblOutr">
                    <input type="radio" value="NA" name="rdoInvPEPRelated" disabled />/
                </label>
                <label class="lblOutr">
                    <input type="radio" value="Y" name="rdoInvPEPRelated" />YES
                </label>
            </div>
        </li>
    </ul>
</div>



<!--Fatca Detail div-->
<div id="DV_FH_FATCA" style="display:none">
    @{await Html.RenderPartialAsync("~/Views/Partial_View/_FATCA.cshtml");}
</div>