<div class="InfoDiv01" id="IdInfoDiv" style="display: none;">
    <style>
        .InfoUlCls li {
            height: 33px;
        }
    </style>
    <ul class="InfoUlCls">
        <li class="liWidthAdj1">
            <span class="SpanCls1">Application Type</span>
            <span class="SpanCls2" id="lblApplicationType"></span>
        </li>
        <li class="liWidthAdj2">
            <span class="SpanCls1">Application Number</span>
            <span class="SpanCls2" id="lblApplicationNumber"></span>
            <input type="hidden" id="hdnApplicationNumber" value="" />
        </li>
        <li>
            <span class="SpanCls1">Depositor Category</span>
            <span class="SpanCls2" id="lblDepositorCategory"></span>
        </li>
        <li>
            <span class="SpanCls1">Broker Code</span>
            <span class="SpanCls2" id="lblBrokerCode"></span>
        </li>
        <li class="liWidthDouble">
            <span class="SpanCls1">Investor Name</span>
            <span class="SpanCls2" id="lblInvestorName"></span>
        </li>
        <li>
            <span class="SpanCls1">DOB</span>
            <span class="SpanCls2" id="lblDOB"></span>
        </li>
        <li>
            <span class="SpanCls1">PAN</span>
            <span class="SpanCls2" id="lblPAN"></span>
        </li>
        <li>
            <span class="SpanCls1">Mode of Payment</span>
            <span class="SpanCls2" id="lblModeOfPayment"></span>
        </li>
        <li class="liWidthAdj1">
            <span class="SpanCls1">Amount</span>
            <span class="SpanCls2" id="lblAmount"></span>
        </li>
        <li class="liWidthAdj2">
            <span class="SpanCls1">Mobile Number</span>
            <span class="SpanCls2" id="lblMobileNumber"></span>
        </li>
        <li class="liWidthDouble">
            <span class="SpanCls1">Email ID</span>
            <span class="SpanCls2" id="lblEmailID"></span>
        </li>
        <li>
            <span class="SpanCls1">Folio Number</span>
            <span class="SpanCls2" id="lblFolioNumber"></span>
        </li>
        <li class="liWidthDouble">
            <span class="SpanCls1">Existing FDR Number</span>
            <span class="SpanCls2" id="lblExistingFDRNumber"></span>
        </li>
        <li class="liWidthDouble">
            <span class="SpanCls1">Last Investment Date</span>
            <span class="SpanCls2" id="lblLastInvestmentDate"></span>
        </li>
    </ul>
</div>
