<div id="Modal_View_Document" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header SuccessModelHeader">
                <button type="button" class="close" data-dismiss="modal" id="lblclose">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="width: 100%;">
                <div id="IdViewImageDiv" class="ModelContDiv" style="text-align: center;">
                    <object id="objViewDoc"></object>
                </div>              
            </div>
        </div>

    </div>
</div>

