<div id="ModelCMSBranchSearch" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog moadl-md">
        <!-- Modal content-->
        <div class="modal-content CustmModalNew">
            <div class="modal-header">
                <button id="ModelCMSBranchClose" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">CMS Bank Search</h4>
            </div>
            @*<div id="ModelErrorMsg" class="alert alert-red" style="display:block; padding-left:15px;">
                <p>
                    Application Message Center :
                    <label id="modellblErrormsg" style="color:red" />
                </p>*@
            <div class="modal-body">
                <div class="row" style="">
                    <div class="col-md-4 col-sm-4 col-xs-12 InpOutrCls">
                        <div class="form-group FormGrpCustm">
                            <label class="control-label">State</label>
                            <select class="form-control" id="ddlState" style="/*font-family: Arial,Verdana,Tahoma;font-weight:normal;*/">
                                <option value="select">Select</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <table id="tblCMSBranch" class="table table-default">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>HDFC Bank CMS Branch</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>
</div>


