<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls ">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Annual Income<span class="red-text">*</span></label>
        <select id="ddlAnnualIncome" name="ANNUAL_INCOME" class="form-control MORE_DTL" required>
            <option value="select">Select</option>
        </select>
    </div>
</div>
@* <div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls ">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Occupation<span class="red-text">*</span></label>
        <select id="ddlOccupation" name="OCCUPATION" class="form-control MORE_DTL" required>
            <option value="select">Select</option>
        </select>
    </div>
</div> *@


 @* avinash added Occupation/sub-occupation changes *@
<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls ">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Segment Type<span class="red-text">*</span></label>
        <select id="ddlCustSegType" name="SegType" class="form-control" required>
            <option value="select">Select</option>
        </select>
    </div>
</div>

<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls " style="display:none" id="Occ_Cus_SegSubtype_Div">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Segment SubType<span class="red-text">*</span></label>
        <select id="ddlCustSegSubType" name="SegSubType" class="form-control" required>
            <option value="select">Select</option>
        </select>
    </div>
</div>


<div class="clrfixCustm"></div>
<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls IND">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Prefix Mother</label>
        <select id="ddlMotherTitle" name="TITLE" class="form-control MORE_DTL">
            <option value="select">Select</option>
        </select>
    </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls IND">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Mother's First Name</label>
        <input type="text" id="txtMotherFName" maxlength="30" class="form-control uppercase MORE_DTL NoSpecialChar RemoveSpace charactor_only">
    </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls IND">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Mother's Middle Name</label>
        <input type="text" id="txtMotherMName" maxlength="30" class="form-control uppercase MORE_DTL NoSpecialChar RemoveSpace charactor_only">
    </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls IND">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Mother's Last Name</label>
        <input type="text" id="txtMotherLName" maxlength="30" class="form-control uppercase MORE_DTL NoSpecialChar RemoveSpace charactor_only">
    </div>
</div>
<div class="clearfix" style="clear:both;"></div>
<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls IND">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Marital Status</label>
        <select id="ddlMaritalStatus" name="MARITAL_STATUS" class="form-control MORE_DTL">
            <option value="select">Select</option>
        </select>
    </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls SPOUSE IND" style="display:none">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Prefix Spouse</label>
        <select id="ddlSpouseTitle" name="TITLE" class="form-control MORE_DTL">
            <option value="select">Select</option>
        </select>
    </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls SPOUSE IND" style="display:none">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Spouse First Name</label>
        <input type="text" id="txtSpouseFName" maxlength="30" class="form-control uppercase MORE_DTL NoSpecialChar RemoveSpace charactor_only">
    </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls SPOUSE IND" style="display:none">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Spouse Middle Name</label>
        <input type="text" id="txtSpouseMName" maxlength="30" class="form-control uppercase MORE_DTL NoSpecialChar RemoveSpace charactor_only">
    </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls SPOUSE IND" style="display:none">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Spouse Last Name</label>
        <input type="text" id="txtSpouseLName" maxlength="30" class="form-control uppercase MORE_DTL NoSpecialChar RemoveSpace charactor_only">
    </div>
</div>