<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Search By<span class="red-text">*</span></label>
        <select id="ddlSearchBy" name="SEARCH_BY" class="form-control">
            <option value="select">Select</option>
        </select>
    </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls">
    <div class="form-group FormGrpCustm">
        <label class="control-label">Search Text<span class="red-text">*</span></label>
        <input type="text" id="txtSearchText" class="form-control uppercase" maxlength="40">
    </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 InpOutrCls">
    <div class="form-group FormGrpCustm SearchDate" id="DobSearch">
        <label class="control-label">DOB</label>
        <input type="text" id="txtSearchDOB" name="SEARCH_DOB" class="form-control" />
    </div>
</div>
<div class="col-md-1 col-sm-3 col-xs-12 InpOutrCls">
    <button type="button" id="btnSearchHolder" class="comnBtn">Search</button>
</div>
<div class="col-md-3 col-sm-4 col-xs-12 InpOutrCls">
    <div class="form-group FormGrpCustm" id="" style="">
        <label class="control-label">&nbsp;</label>
        <a class="AddFreshInvCls" id="btnfreshcutomer" style="display:none">
            <img src="~/images/AddInvestor.png" style="" width="22" height="22">
            Add as a fresh Investor
        </a>
    </div>
</div>