<div class="StepOutrDiv">
    <a class="BtnTabSwitHome" href="Default" id="btnBackToConsole">
        <i class="fa fa-home" aria-hidden="true"></i>
    </a>
    <ul class="nav nav-tabs NavTabsHead" id="allTabs">

        <li class="tab-switcher nav-item active">
            <button type="button" class="BtnTabSwit" data-tab-index="1" id="IdBtnTabSwit01">1</button>
            <span class="SpanCls01">Investor Information</span>
        </li>
        <li class="tab-switcher nav-item NoActive">
            <button type="button" class="BtnTabSwit" data-tab-index="2" id="IdBtnTabSwit02">2</button>
            <span class="SpanCls01">Basic Configuration</span>
        </li>
        <li class="tab-switcher nav-item NoActive">
            <button type="button" class="BtnTabSwit" data-tab-index="3" id="IdBtnTabSwit03">3</button>
            <span class="SpanCls01">FD Configuration</span>
        </li>
        <li class="tab-switcher nav-item NoActive">
            <button type="button" class="BtnTabSwit" data-tab-index="4" id="IdBtnTabSwit04">4</button>
            <span class="SpanCls01">Repayment Bank Details</span>
        </li>
        <li class="tab-switcher nav-item NoActive">
            <button type="button" class="BtnTabSwit" data-tab-index="5" id="IdBtnTabSwit05">5</button>
            <span class="SpanCls01">Holder Information</span>
        </li>
        <li class="tab-switcher nav-item NoActive">
            <button type="button" class="BtnTabSwit DisabledControl" data-tab-index="6" id="IdBtnTabSwit06" disabled>6</button>
            <span class="SpanCls01">Nominee Information</span>
        </li>
        <li class="tab-switcher nav-item NoActive">
            <button type="button" class="BtnTabSwit" data-tab-index="7" id="IdBtnTabSwit07">7</button>
            <span class="SpanCls01">Upload Documents</span>
        </li>
        <li class="tab-switcher nav-item NoActive">
            <button type="button" class="BtnTabSwit" data-tab-index="8" id="IdBtnTabSwit08">8</button>
            <span class="SpanCls01">Summary View</span>
        </li>
    </ul>
    <button type="button" id="BtnStepsToggle" class="BtnStepsCls"></button>
    <ul class="list-group list-group1" id="IdStepsMob">

        <li class="list-group-item">
            <a href="#" class="BtnTabSwitMob" id="">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
        </li>
        <li class="list-group-item active">
            <button type="button" class="BtnTabSwitMob" data-tab-index="1" id="IdBtnTabSwit01">1 Investor Information</button>
        </li>
        <li class="list-group-item">
            <button type="button" class="BtnTabSwitMob" data-tab-index="2" id="IdBtnTabSwit02">2 Basic Configuration</button>
        </li>
        <li class="list-group-item">
            <button type="button" class="BtnTabSwitMob" data-tab-index="3" id="IdBtnTabSwit03">3 FD Configuration</button>
        </li>
        <li class="list-group-item">
            <button type="button" class="BtnTabSwitMob" data-tab-index="4" id="IdBtnTabSwit04">4 Repayment Bank Details</button>
        </li>
        <li class="list-group-item">
            <button type="button" class="BtnTabSwitMob" data-tab-index="5" id="IdBtnTabSwit05">5 Holder Information</button>
        </li>
        <li class="list-group-item">
            <button type="button" class="BtnTabSwitMob" data-tab-index="6" id="IdBtnTabSwit06">6 Nominee Information</button>
        </li>
        <li class="list-group-item">
            <button type="button" class="BtnTabSwitMob" data-tab-index="7" id="IdBtnTabSwit07">7 Upload Documents</button>
        </li>
        <li class="list-group-item">
            <button type="button" class="BtnTabSwitMob" data-tab-index="8" id="IdBtnTabSwit08">8 Summary View</button>
        </li>
    </ul>
</div>
