<div class="CheckAllDtlMain">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <div class="btn btn-link collapse" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    FD Configuration Details
                    <i class="fa fa-expand CheckDtlBtnImg1" aria-hidden="true" title="Expand Details"></i>
                    <i class="fa fa-compress CheckDtlBtnImg2" aria-hidden="true" title="Collapse Details"></i>
                </div>
            </div>
            <div id="collapseTwo" class="card-Cont collapse in" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="CheckAllDtlTblOutr">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="table-responsive">
                                    <table id="tblInvestmentDtls" class="table table-default" style="margin: 0;">
                                        <thead>
                                            <tr class="tbl_header">
                                                <th>
                                                    Transaction ID
                                                </th>
                                                <th>
                                                    FD Amount
                                                </th>
                                                <th>
                                                    Category
                                                </th>
                                                <th>
                                                    Scheme
                                                </th>
                                                <th>
                                                    Interest Frequency
                                                </th>
                                                <th>
                                                    Interest Rate
                                                </th>
                                                <th>
                                                    Tenure
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="dv1stHolder" style="display:none">
            <div class="card-header" id="headingSeven">
                <div id="dv1stHolderHdr" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    1st Holder Details
                    <label class="SecDtlShortLbl">- (<span class="CustmTblTd3lbl" id="lblHdr1stHolderName"></span>)</label>
                    <span class="badge btnShowMore2">See More</span>

                    <i class="fa fa-expand CheckDtlBtnImg1" aria-hidden="true" title="Expand Details"></i>
                    <i class="fa fa-compress CheckDtlBtnImg2" aria-hidden="true" title="Collapse Details"></i>
                </div>
            </div>
            <div id="collapseSeven" class="card-Cont collapse" aria-labelledby="headingSeven" data-parent="#accordionExample" style="height: auto;">
                <div class="card-body">
                    <div class="CheckAllDtlTblOutr">
                        <div class="table-responsive">
                            <table class="table CustmTbl">
                                <tbody>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stHolderName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Gender :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stGender"></label>
                                            <label class="CustmTblTd2lbl" style="display:none" id="lbl1stGenderCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Date of Birth :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stDOB"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Marital Status  :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stMaritalStatus"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stMaritalStatusCode"></label>

                                        </td>
                                    </tr>

                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">PAN No:</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stPan"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Occupation  :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stOccupation"></label>
                                            <label class="CustmTblTd2lbl" style="display:none" id="lbl1stOccupationCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Father Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stFatherFullName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderFatherSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderFatherFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderFatherSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderFatherThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Mother Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stMotherFullName">  </label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stMotherSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stMotherFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stMotherSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stMotherThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Spouse Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stSpouseFullName">  </label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderSpouseSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderSpouseFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderSpouseSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderSpouseThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Guardian Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stGuardianFullName">  </label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderGuardianSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderGuardianFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderGuardianSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stHolderGuardianThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Guardian PAN :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stGuardianPAN"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl"></label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id=""></label>
                                        </td>
                                    </tr>
                                    <tr class="trFull PerAddTr">
                                        <td colspan="2">
                                            <h1 class="TblTrHead">Permanent Address</h1>
                                        </td>
                                    </tr>
                                    <tr class="tr1 PerAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 1 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stAddress1"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 PerAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 2 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stAddress2"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 PerAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 3 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stAddress3"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 PerAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Country :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stCountryDec"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stCountryCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 PerAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">State :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stState"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stStateCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 PerAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">District :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stDistrict"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stDistrictCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 PerAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">City :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stCity"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 PerAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Pin Code :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stPin"></label>
                                        </td>
                                    </tr>

                                    <tr class="tr1 PerAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">CKYC Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stCKYCNumber">-</label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 PerAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Telephone Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stTelNo"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr2 trHideBtmBorder PerAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Mobile Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stMobieNumber"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 PerAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Email Id:</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stEmail"></label>
                                        </td>
                                    </tr>

                                    <tr class="trFull MailAddTr">
                                        <td colspan="2">
                                            <h1 class="TblTrHead">Mailing Address</h1>
                                        </td>
                                    </tr>
                                    <tr class="tr1 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 1 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stMAddress1"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 2 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stMAddress2"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 3 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stMAddress3"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Country :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stMCountryDec"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stMCountryCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">State :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stMState"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stMStateCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">District :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stMDistrict"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl1stMDistrictCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">City :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stMCity"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Pin Code :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stMPin"></label>
                                        </td>
                                    </tr>

                                    <tr class="trFull OverAddTr">
                                        <td colspan="2">
                                            <h1 class="TblTrHead">Overseas Address</h1>
                                        </td>
                                    </tr>
                                    <tr class="tr1 OverAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 1 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id=""></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 OverAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 2 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id=""></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 OverAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 3 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id=""></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 OverAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Country :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stCountryDec"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id=""></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 OverAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">State :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stState"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id=""></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 OverAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">District :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl1stDistrict"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id=""></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 OverAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">City :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id=""></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 OverAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Pin Code :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id=""></label>
                                        </td>
                                    </tr>

                                    <tr class="tr1 OverAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">CKYC Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="">-</label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 OverAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Telephone Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id=""></label>
                                        </td>
                                    </tr>
                                    <tr class="tr2 trHideBtmBorder OverAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Mobile Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id=""></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 OverAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Email Id:</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id=""></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" id="dvBank" style="display:none">
            <div class="card-header" id="headingThree">
                <div id="dvBankHdr" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Remittance Bank Details
                    <label class="SecDtlShortLbl">- (<span class="CustmTblTd3lbl" id="lblHdrBankname"> ICICI BANK LTD </span>)</label>
                    <span class="badge btnShowMore2">See More</span>
                    <i class="fa fa-expand CheckDtlBtnImg1" aria-hidden="true" title="Expand Details"></i>
                    <i class="fa fa-compress CheckDtlBtnImg2" aria-hidden="true" title="Collapse Details"></i>
                </div>
            </div>
            <div id="collapseThree" class="card-Cont collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="height: auto;">
                <div class="card-body">
                    <div class="CheckAllDtlTblOutr">
                        <div class="table-responsive">
                            <table class="table CustmTbl">
                                <tbody>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Bank Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblBankName">ICICI BANK LTD</label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Bank Branch :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblBankBranch">HITANI</label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">MICR Code :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblMicrCode">000229000</label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">IFSC Code :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblifscCode">ICIC0002262</label>
                                        </td>
                                    </tr>
                                    <tr class="tr2 trHideBtmBorder">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Account Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblAccountNo">123456789</label>
                                        </td>
                                    </tr>
                                    <tr class="tr2 trHideBtmBorder trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl" style="display: none;" id="lbldocName">KN002281_CancelledCheque_CC_123456789_ICIC0002262_01.jpg</label>
                                            <label class="CustmTblTd1lbl" style="display: none;" id="lbldocPath">\\172.30.21.7\WS_FD_QuickBuy_CDN\WA_FD_QuickBuy_CDN\KYC_DOCUMENTS\</label>
                                            <label class="CustmTblTd1lbl">-</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl">-</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" id="dvHolders" style="display:none">
            <div class="card-header" id="headingFour">
                <div id="dvJointHolderHdr" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Joint holder Details
                    <label class="SecDtlShortLbl">- (<span class="CustmTblTd3lbl" id="lblHdrHldrName"></span>)</label>
                    <span class="badge btnShowMore2">See More</span>

                    <i class="fa fa-expand CheckDtlBtnImg1" aria-hidden="true" title="Expand Details"></i>
                    <i class="fa fa-compress CheckDtlBtnImg2" aria-hidden="true" title="Collapse Details"></i>
                </div>
            </div>
            <div id="collapseFour" class="card-Cont collapse" aria-labelledby="headingFour" data-parent="#accordionExample" style="height: auto;">
                <div class="card-body">
                    <div class="CardBodyInrHdDiv dv2ndHolder" style="/*! display: none; */">
                        <button type="button" onclick="ToggleSHD(this)">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <h5>Second Holder Details</h5>
                            <div class="triangle-down-left"></div>
                        </button>
                    </div>
                    <div class="CheckAllDtlTblOutr CheckAllDtlTblOutr2 PermAddTblOutr dv2ndHolder" style="">
                        <div class="table-responsive">
                            <table class="table CustmTbl">
                                <tbody>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndHolderName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Gender :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndGender"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndGenderCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Date of Birth :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndDOB"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Marital Status  :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndMaritalStatus"></label>
                                        </td>
                                    </tr>

                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">PAN No :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndPan"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Occupation  :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndOccupation"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Father Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndFatherFullName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderFatherSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderFatherFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderFatherSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderFatherThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Mother Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndMotherFullName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndMotherSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndMotherFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndMotherSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndMotherThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Spouse Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndSpouseFullName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderSpouseSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderSpouseFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderSpouseSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderSpouseThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Guardian Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndGuardianFullName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderGuardianSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderGuardianFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderGuardianSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndHolderGuardianThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 1 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndAddress1"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 2 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndAddress2"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 3 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndAddress3"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Country :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndCountryDec"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndCountryCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">State :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndState"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndStateCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">District :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndDistrict"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndDistrictCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">City :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndCity"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Pin Code :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndPin"></label>
                                        </td>
                                    </tr>

                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">CKYC Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndCKYCNumber"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Telephone Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndTelNo"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr2 trHideBtmBorder">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Mobile Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndMobieNumber"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Email Id:</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndEmail"></label>
                                        </td>
                                    </tr>

                                    <tr class="trFull MailAddTr">
                                        <td colspan="2">
                                            <h1 class="TblTrHead">Mailing Address</h1>
                                        </td>
                                    </tr>
                                    <tr class="tr1 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 1 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndMAddress1"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 2 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndMAddress2"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 3 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndMAddress3"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Country :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndMCountryDec"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndMCountryCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">State :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndMState"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndMStateCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">District :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndMDistrict"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl2ndMDistrictCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">City :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndMCity"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Pin Code :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl2ndMPin"></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" style="height: 10px;"></div>
                    <div class="CardBodyInrHdDiv dv3rdHolder" style="/*! display: none; */">
                        <button type="button" onclick="ToggleTHD(this)">

                            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                            <h5>Third Holder Details</h5>
                            <div class="triangle-down-left"></div>
                        </button>
                    </div>
                    <div class="CheckAllDtlTblOutr CheckAllDtlTblOutr2 CorspAddTblOutr dv3rdHolder" style="display: none;">
                        <div class="table-responsive">
                            <table class="table CustmTbl">
                                <tbody>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdHolderName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Gender :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdGender"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Date of Birth :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdDOB"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Marital Status  :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdMaritalStatus"></label>
                                        </td>
                                    </tr>

                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">PAN No:</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdPan"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Occupation  :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdOccupation"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Father Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdFatherFullName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderFatherSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderFatherFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderFatherSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderFatherThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Mother Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdMotherFullName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdMotherSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdMotherFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdMotherSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdMotherThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Spouse Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdSpouseFullName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderSpouseSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderSpouseFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderSpouseSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderSpouseThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Guardian Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdGuardianFullName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderGuardianSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderGuardianFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderGuardianSecoundName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdHolderGuardianThirdName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 1 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdAddress1"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 2 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdAddress2"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 3 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdAddress3"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Country :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdCountryDec"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdCountryCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">State :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdState"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdStateCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">District :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdDistrict"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdDistrictCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">City :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdCity"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Pin Code :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdPin"></label>
                                        </td>
                                    </tr>

                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">CKYC Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdCKYCNumber"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Telephone Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdTelNo"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr2 trHideBtmBorder">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Mobile Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdMobieNumber"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Email Id :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdEmail"></label>
                                        </td>
                                    </tr>

                                    <tr class="trFull MailAddTr">
                                        <td colspan="2">
                                            <h1 class="TblTrHead">Mailing Address</h1>
                                        </td>
                                    </tr>
                                    <tr class="tr1 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 1 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdMAddress1"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 2 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdMAddress2"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 3 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdMAddress3"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Country :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdMCountryDec"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdMCountryCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">State :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdMState"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdMStateCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">District :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdMDistrict"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lbl3rdMDistrictCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">City :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdMCity"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20 MailAddTr">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Pin Code :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lbl3rdMPin"></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card" id="dvNominee" style="display:none">
            <div class="card-header" id="headingFive">
                <div id="dvNomineeHdr" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Nominee Details
                    <label class="SecDtlShortLbl">- (<span class="CustmTblTd3lbl" id="lblHdrNomineeName"></span>)</label>
                    <span class="badge btnShowMore2">See More</span>

                    <i class="fa fa-expand CheckDtlBtnImg1" aria-hidden="true" title="Expand Details"></i>
                    <i class="fa fa-compress CheckDtlBtnImg2" aria-hidden="true" title="Collapse Details"></i>
                </div>
            </div>
            <div id="collapseFive" class="card-Cont collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="CheckAllDtlTblOutr">
                        <div class="table-responsive">
                            <table class="table CustmTbl">
                                <tbody>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblNomineeFullName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lblNomineeSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lblNomineeFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lblNomineeMiddleName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lblNomineeLastName"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Relationship :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblNomineeRelations"></label>
                                            <label class="CustmTblTd2lbl" id="lblNomineeRelationsCode" style="display: none;"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Date of Birth :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblNominee_DOB"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Guardian Name :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblGuardianFullName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lblGuardianSalutation"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lblGuardianFirstName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lblGuardianMiddleName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lblGuardianLastName"></label>
                                        </td>
                                    </tr>

                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 1 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblAddress1"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 2 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblAddress2"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Address Line 3 :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblAddress3"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Country :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblCountryName"></label>
                                            <label class="CustmTblTd2lbl" id="lblCountryCode" style="display: none;"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">State :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblStateName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lblStateCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">District :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblDistrictName"></label>
                                            <label class="CustmTblTd2lbl" style="display: none;" id="lblDistrictCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">City :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblCity"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Pin Code :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblPinCode"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">CKYC Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblCKYCNumber"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr1 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Telephone Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblTelephoneNumber"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr2 trHideBtmBorder">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Mobile Number :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblMobileNo"></label>
                                        </td>
                                    </tr>
                                    <tr class="tr2 trPadLeft20">
                                        <td class="CustmTblTd1">
                                            <label class="CustmTblTd1lbl">Email Id :</label>
                                        </td>
                                        <td class="CustmTblTd2">
                                            <label class="CustmTblTd2lbl" id="lblNomineeEmailID"></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>