
    <div class="mid-height" id="tdrevcycheader" >
        <ul class="pull-left">
            <li><a href="javascript:void(0)" class="mainBtns" id="btnAdd"><i class="demo-icon icon-plus">&#xe807;</i>Add       </a></li>
            <li><a href="javascript:void(0)" class="mainBtns hide" id="btnEdit"><i class="demo-icon icon-pencil">&#xe803;</i>Edit    </a></li>
            <li><a href="javascript:void(0)" class="mainBtns" id="btnSave"><i class="demo-icon icon-floppy">&#xe808;</i>Save      </a></li>
            <li class="hidden-xs"><a href="javascript:void(0)" class="mainBtns hide" id="btnReport"><i class="demo-icon icon-doc">&#xe809;</i>Report  </a></li>
            <li><a href="javascript:void(0)" class="mainBtns" id="btnSearch"><i class="demo-icon icon-search">&#xe80b;</i>Search  </a></li>
            <li><a href="javascript:void(0)" class="mainBtns" id="btnCancel"><i class="demo-icon icon-cancel">&#xe80a;</i>Cancel   </a></li>
            <li class="hidden-xs"><a href="javascript:void(0)" class="mainBtns" id="btnHelp"><i class="demo-icon icon-help">&#xf128;</i>Help  </a></li>
        </ul>
    </div>
